.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;

  .logo-box {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;

    .logo {
      width: 32px;
      height: 32px;
    }
  }
}